node_modules
raw_images
processed_images
metadata
packages
log
*.dmg


# React frontend
# Cruft
frontend/*~
frontend/*#
frontend/.#*
frontend/.DS_Store

# Test
frontend/coverage
frontend/.eslintcache

# Logs
frontend/*.log

# npm & yarn
frontend/node_modules/
frontend/.npm
frontend/.yarn-integrity
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/yarn.lock*
frontend/package-lock.json
frontend/build/bundle.js
frontend/build/index.html
frontend/build*
frontend/build/*

# Editor/IDE
frontend/.idea
frontend/packages/api/etc/
