@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

p {
  margin-bottom: 15px;
}
.body {
  padding-top: 20px;
}
.top-bar {
  background-color: #F5F5F5;
  border-bottom: 1px solid #E3E3E3;
  padding: 10px;
}
.bottom-bar {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  right: 0;
  left: 0;
  height: 45px;
  text-align: center;
  background: #F5F5F5;
}
.love {
  line-height: 45px;
}
.logo-color {
  color: #2196F3;
}

.logo, .nav-item {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 0;
}
.logo {
  @extend .logo-color;
  font-size: 30px;
  margin-bottom: 0;
  margin-left: 25px;
}
.nav-item {
  color: #737373
}
.nav-item-selected {
  color: #161616;
  font-weight: 700;
}
.overflow-container {
  max-height: 419px;
  overflow: scroll;
}

.image-source-button {
  font-size: 16px;
  display: inline-block;
}
.image-source-name {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 5px;
}
.image-source-clickable:hover {
  cursor: pointer;
}
.image-source-non-clickable {
  color: grey;
}
.image-source-active {
  font-weight: 700;
  color: #E91E63;
}
.center-content-image {
  width: 100%;
  margin-bottom: 10px;
}
.button {
  text-align: center;
  border-radius: 3px;
  padding: 3px;
  display: inline-block;
  padding: 5px 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.39);
  border: 0;
}
.button:hover {
  cursor: pointer;
}
.follow-button {
  background: #E91E63;
  color: white;
}
.unfollow-button {
  background: #F5F5F5;
  color: #737373;
}
.image-source-label {
  font-size: 12px;
  color: gray;
  margin-bottom: 10px;
}
.image-source-list {
  padding-bottom: 30px;
}
.image-source-container {
  margin-bottom: 10px;
  margin-left: 10px;
}
.image-source-description {
  margin-bottom: 10px;
}
.check {
  color: #00c853;
  margin-left: 5px;
}
.onboarding-container {
  text-align: center;
  padding: 30px;
}
.onboarding-big-txt {
  font-size: 32px;
  font-weight: 600;
}
.folder-selector-container {
  width: 100%;
  background: #f7f7f7;
  overflow: auto;
  border-radius: 3px;
  border: 1px solid #d2d2d2;
}
.folder-selector-button {
  float: right;
  padding: 9px 20px;
  background: #868686;
  color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.folder-selector-button:hover {
  cursor: pointer;
}
.folder-text {
  display: inline;
  float: left;
  margin: 0;
  margin-top: 8px;
  margin-left: 10px;
  font-style: italic;
  color: black;
}
.folder-text.folder-text-inactive {
  color: gray;
}

.modal-outer-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
}
.modal-inner-container {
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 30%;
  right: 30%;
  background: white;
  border-radius: 3px;
}
.centered-container {
  text-align: center;
  padding: 20px;
}
.image-source-selector-pane {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
